html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
.contact-form {
  --form-text-color: #666; /*esta es una variable para usar*/
  --form-placeholder-color: #00c; /*esta es una variable para usar*/
  --form-success-color: #4caf50; /*esta es una variable para usar*/
  --form-error-color: #f44336; /*esta es una variable para usar*/
  --form-bg-color: #eee; /*esta es una variable para usar*/
  --form-border-color: #222; /*esta es una variable para usar*/
  background-color: var(--form-bg-color);
  border: thin solid var(--form-border-color);
  padding: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.contact-form > * {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-family: sans-serif;
  font-size: 1rem;
  color: var(--form-text-color);
  caret-color: var(
    --form-placeholder-color
  ); /*Le da colores al cursos que va escribiendo*/
}
.contact-form > *::placeholder {
  color: var(--form-placeholder-color);
} /*Le da estilos a los placeholder*/
.contact-form > *[required]:invalid {
  border: thin solid var(--form-error-color);
}
.contact-form > *[required]:valid {
  border: thin solid var(--form-success-color);
}
.contact-form input[type="submit"],
input[type="reset"] {
  margin-bottom: 0;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--form-placeholder-color);
  font-weight: bold;
  font-size: 1.25rem;
  color: #fff;
}
.contact-form input[type="submit"]:hover,
input[type="reset"]:hover {
  cursor: pointer;
  opacity: 0.75;
} /*Para que cuando pongamos el cursor encima de estos botones, cambie a la manito*/
.contact-form textarea {
  resize: none;
}
