img {
  max-width: 100%;
  height: auto;
}
.card {
  border: medium solid black;
  width: 400px;
  height: 400px;
}
.card img {
  height: 300px;
  object-fit: fill;
  object-fit: cover;
  object-fit: contain;
  object-fit: none;
  object-fit: scale-down; /*toma el menor valor entre none y containe*/
  object-position: right top;
  object-position: center;
}
